# Compiled Object files and other temp files
*.slo
*.lo
*.o
/*.obj
*.ilk
*.lib
*.exp

# Debug symbols
*.pdb
*.dSYM

# Codelite
.codelite
*.mk
Debug

# Precompiled Headers
*.gch
*.pch

# Executables
*.exe
*.out
*.app
bin/*
imgui.ini

# Icon must end with two \r
Icon

# Thumbnails
._*

# not Mac libs
libs/mac
!libs/win/*
libs/bullet_full/mac/*.a